# Symfony application's path (absolute or relative)
SYMFONY_APP_PATH=../path/to/symfony/folder

# MySQL
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=mydb
MYSQL_USER=user
MYSQL_PASSWORD=userpass

# Timezone
TIMEZONE=Europe/Paris

# DB path
DB_PATH=./.data/db

# docker-compose config variables
COMPOSE_PROJECT_NAME=sity